/* setting a color palette for project with creating css variables */
:root{
    --clr-sect:rgb(91, 91, 194);
    --clr-hero-txt:white;
    --clr-hero2-txt:rgb(11, 11, 37);
    --clr-header-nav-footer: rgb(10, 10, 10);   
}
/* setting small padding for whole body element and removing margin  */
body{
    padding: .6%;
    box-sizing: border-box;
    margin: 0;
}
/* making header a flex container to help me align logo by navigation bar */
header{
    display: flex;
    background-color: var(--clr-header-nav-footer);
    padding-left: 5%;
    align-items: center;   
}
/* putting logo of company in top left corner(logo made with "looka.com" */
#logo{
    height:9vh;
    width: 9vw;
    border-radius: 50%;
    margin: auto;   
}
/*setting navigation bar,keep it stick to top of screen on scroll  */
nav{
    background-color:rgb(11, 11, 37);
    height: 10vh;
    display: flex;
    gap: 3%;
    justify-content:center;
    align-items: center;
    position:sticky;
    top: 0;
    width: 100%;  
}
/* added styling to nav buttons,make them look like tabs */
.nav-btn{
    border: 2px solid rgb(12, 62, 202) ;
    box-shadow: 2px 4px 5px rgb(93, 93, 116);
    border-top : 3px solid rgb(91, 91, 194);
    border-left: 3px solid rgb(91, 91, 194);
    border-right: 3px solid rgb(91, 91, 194);
    border-style:inset;
    width: 12%;
    height: 45%;
    border-radius: .36rem;
    text-decoration: none;
    color: var(--clr-hero-txt);
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* setting a hero img to cover entire hero section */
#hero{
    background-image: url(images/surfer00.jpg);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 75vh;

}
/* making a H1 text sending a invitation to a user with size ,font family and left alingment */
h1{
    margin-bottom: 0;
    width: 50%;
    font-size: 3.5rem;
    color: white;
}
/* bottom hero section is flex container it mekes easier aligning button with call to action */
.hero-bottom{
    display: flex;
    justify-content: space-between;
    padding-right: 8%;
    align-items: flex-end;

}
/* styling a call-to-action button */
#free-lesson{
    padding: 1.5% 5%;
    height: 20%;
    border-radius: 2rem;
    border: 2px solid black;
    box-shadow: 2px 1px 3px rgb(18, 18, 165);
    background-color: rgb(23, 23, 23);
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    display: flex;
    align-items:center;
    border: outset;

}
/* welcome section shows user a brief info what SURFon is about */
#welcome-section{
    padding-top: 0;
    margin-top: 0%;
    
    

}
/* making h2 text blends with h1 into a nice inviting quote */
h2{
    font-size: 3.3rem;
    width: 50%;
    margin-top: 0;
    vertical-align: bottom;
}
/* setting height to a welcome section img */
#welcome-message > img{
    width: 50%;
    height: 100%;
    border: .6px solid gray;
    box-shadow:3px 3px 2px rgb(49, 47, 47) ;
    border-style: inset;
      
}
/* putting img and text into a container as a part of section then putting some space between */
#welcome-message{
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  
}
/* wraped introduction text into a nicely styled container */

#welcome-text{
    width: 38%;
    border: .6px solid gray;
    box-shadow:3px 3px 2px rgb(49, 47, 47) ;
    border-style: inset;
    font-size: 1.4rem;
    padding: 2%;
    text-align: left;
   
}
/* making company name more appealing with two color text style */
em{
    color: red;
}